@* @model IEnumerable<SelectListItem> *@
@using Utility.Common
@model HomeVM

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed fs-4 fw-normal" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Category
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                <ul class="text-start">
                    <li class="bor-bottom pb-2 pt-2">
                        <button class="category fs-5 fw-normal" data-id ="0" >
                        All
                        </button>
                    </li>
                    @foreach (var item in Model.Categories)
                    {
                        
                        <li class="bor-bottom pb-2 pt-2">
                            <button class="category fs-5 fw-normal" data-id = @item.Id >
                                @item.Name
                            </button>
                        </li>
                    }
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed  fs-4 fw-normal" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Brand
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul class="text-start">
                    <li class="bor-bottom pb-2 pt-2">
                        <button class="category fs-5 fw-normal" brand-id  ="0" >
                        All
                        </button>
                    </li>
                    @foreach (var item in Model.Brands)
                    {
                        <li  class="bor-bottom pb-2 pt-2"> 
                            <button class="searchByBrand fs-5 fw-normal"  brand-id = @item.Id>
                                @item.Name
                            </button> 
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<script>

    $(".category").click(function(){        
        $.ajax({
            url:'/Customer/Shop/GetNewList',
            data:{
                categoryId : $(this).attr("data-id")
            }
        })
        .done(function(response){
        $("#tableContainer").html(response);
        })
        .fail(function(XMLHttpRequest, textSearch, errorThrown) {
            alert("fail")
        });

    });

    $(".searchByBrand").click(function(){     
        $.ajax({
            url:'/Customer/Shop/GetNewList',
            data:{
                brandId : $(this).attr("brand-id")
            }
        })
        .done(function(response){
        $("#tableContainer").html(response);
        })
        .fail(function(XMLHttpRequest, textSearch, errorThrown) {
            alert("fail")
        });

    });
</script>