@using Microsoft.AspNetCore.Http 
@using Microsoft.AspNetCore.Identity
@using Models.Identity
@inject IHttpContextAccessor HttpContextAccessor 
@inject SignInManager<AppUser> _signInManager

<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odor - Vape Store WooCommerce HTML Template</title>
    <!-- Favicon img -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png">
    <!-- Bootstarp min css -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- All min css -->
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <!-- Swiper bundle min css -->
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.min.css">
    <!-- Magnigic popup css -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <!-- Animate css -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <!-- Style css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Jquery 3. 7. 1 Min Js -->
    
</head>
<body>
    <!-- Header area start here -->
    <div class="top__header black-area pt-30 pb-30">
        <div class="container">
            <div class="top__wrapper">
                <a href="index.html" class="main__logo">
                    <img src="~/assets/images/logo/logo.svg" alt="logo__image">
                </a>
                <div class="search__wrp">
                    <input placeholder="Search for" aria-label="Search">
                    <button><i class="fa-solid fa-search"></i></button>
                </div>
                <div class="account__wrap">
                    <div class="cart d-flex align-items-center">
                        <span class="cart__icon">
                            <i class="fa-regular fa-cart-shopping"></i>
                        </span>
                        <a href="#0" class="c__one">
                            <span class="text-white">
                                $0.00
                            </span>
                        </a>
                        <span class="one text-white">
                            0
                        </span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <header class="header-section black-area">
        <div class="container">
            <div class="header-wrapper">
                <div class="header-bar light-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul class="main-menu">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</i></a>
                    </li>
                    <li>
                        <a asp-area="Customer" asp-controller="Shop" asp-action="Index">Shop</i></a>
                    </li>
                    <li>
                        <a asp-area="Customer" asp-controller="Shop" asp-action="shoplist">shoplist</i></a>
                    </li>
                    <li>
                        <a href="about.html">About Us</a>
                    </li>
                    <li>
                        <a asp-area="Customer" asp-controller="Home" asp-action="Privacy">Contact Us</a>
                    </li>
                    <li>
                        @if(User.IsInRole(SD.Role_Admin))
                        {
                            <a href="#0">Admin <i class="fa-regular fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li class="subtwohober">
                                    <a  asp-area="Admin"asp-controller="Category" asp-action="Index">Category</a>
                                </li>
                                <li class="subtwohober">
                                    <a asp-area="Admin"asp-controller="Product" asp-action="Index">Product</a>
                                    
                                </li>
                                <li class="subtwohober">
                                    <a asp-area="Admin"asp-controller="Company" asp-action="Index">Company</a>
                                    
                                </li>
                                <li class="subtwohober">
                                    <a asp-area="Admin"asp-controller="Order" asp-action="Index">Manager Order</a>
                                </li>
                                <li class="subtwohober">
                                    <a class="dropdown-item" asp-area="Identity" asp-controller="Account" asp-action="Register">Create User</a>
                                </li>
                            </ul>
                        }
                    </li>
                    @if(_signInManager.IsSignedIn(User))
                    {
                        <li>
                            <a asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                cart
                            </a>
                        </li>
                    }
                    
                </ul>
                <div class="shipping__item d-none d-sm-flex align-items-center">
                    <div class="menu__right d-flex align-items-center">
                        <div class="thumb">
                            <img src="~/assets/images/flag/picking.png" alt="image">
                        </div>
                        <div class="content">
                            <p class="text-white">
                                Picking up?
                            </p>
                            <div class="items ns-head">
                                <select class="form__select p-0">
                                    <option value="1">
                                        Select Store
                                    </option>
                                    <option value="2">
                                        Store One
                                    </option>
                                    <option value="3">
                                        Store Two
                                    </option>
                                    <option value="4">
                                        Store Three
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="menu__right d-flex align-items-center">
                        <div class="thumb">
                            <img src="~/assets/images/flag/shipping.png" alt="image">
                        </div>
                        <partial name="_LoginPartial"/>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main role="main" class="pb-3">
        <partial name="_Notification" />
        @RenderBody()
    </main>

    <!-- Footer area start here -->
    <footer class="footer-area black-area bg-image" data-background="assets/images/footer/footer-bg.jpg">
        <div class="container">
            <div class="footer__wrp pt-65 pb-65 bor-top bor-bottom">
                <div class="row g-4">
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".1s">
                        <div class="footer__item">
                            <h4 class="footer-title">Customer Service</h4>
                            <ul>
                                <li><a href="contact.html"><span></span>Help Portal</a></li>
                                <li><a href="contact.html"><span></span>Contact Us</a></li>
                                <li><a href="error.html"><span></span>Delivery Information</a></li>
                                <li><a href="error.html"><span></span>Click and Collect</a></li>
                                <li><a href="error.html"><span></span>Refunds and Returns</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
                        <div class="footer__item">
                            <h4 class="footer-title">Get to Know Us</h4>
                            <ul>
                                <li><a href="about.html"><span></span>About Us</a></li>
                                <li><a href="blog-grid.html"><span></span>News & Blog</a></li>
                                <li><a href="error.html"><span></span>Careers</a></li>
                                <li><a href="error.html"><span></span>Investors</a></li>
                                <li><a href="contact.html"><span></span>Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s">
                        <div class="footer__item">
                            <h4 class="footer-title">vapes new collections</h4>
                            <ul>
                                <li><a href="shop.html"><span></span>E-Cigarettes</a></li>
                                <li><a href="shop.html"><span></span>Vape Pens</a></li>
                                <li><a href="shop.html"><span></span>Pod Systems</a></li>
                                <li><a href="shop.html"><span></span>Disposable Vapes</a></li>
                                <li><a href="shop.html"><span></span>Nicotine Salt Devices</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
                        <div class="footer__item newsletter">
                            <h4 class="footer-title">get newsletter</h4>
                            <div class="subscribe">
                                <input type="email" placeholder="Your Email">
                                <button><i class="fa-solid fa-paper-plane"></i></button>
                            </div>
                            <div class="social-icon mt-40">
                                <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#0"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#0"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="#0"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copy-text pt-50 pb-50">
                <a href="index.html" class="logo d-block">
                    <img src="~/assets/images/logo/logo.svg" alt="logo">
                </a>
                <p>&copy; Copyright 2023 <a href="#0" class="primary-hover">odor</a> All Rights Reserved</p>
                <a href="#0" class="payment d-block image">
                    <img src="~/assets/images/icon/payment.png" alt="icon">
                </a>
            </div>
        </div>
    </footer>
    <!-- Footer area end here -->

    <!-- Back to top area start here -->
    <div class="scroll-up">
        <svg class="scroll-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Back to top area end here -->
    <!-- Bootstrap min Js -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Swiper bundle min Js -->
    <script src="~/assets/js/swiper-bundle.min.js"></script>
    <!-- Counterup min Js -->
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <!-- Wow min Js -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Magnific popup min Js -->
    <script src="~/assets/js/magnific-popup.min.js"></script>
    <!-- Nice select min Js -->
    <script src="~/assets/js/nice-select.min.js"></script>
    <!-- Pace min Js -->
    <script src="~/assets/js/pace.min.js"></script>
    <!-- Isotope pkgd min Js -->
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <!-- Waypoints Js -->
    <script src="~/assets/js/jquery.waypoints.js"></script>
    <!-- Script Js -->
    <script src="~/assets/js/script.js"></script>    
    @await RenderSectionAsync("Scripts", required: false)
</body>
