﻿@using Microsoft.AspNetCore.Identity
@using Models.Identity
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager

<div class="thumb">
    <div class="content">
         @if(_signInManager.IsSignedIn(User))
        { 
            <p class="text-white">
                Hello <strong>@_userManager.GetUserName(User)</strong> <br> <a class="text-white" asp-area="Identity" asp-controller="Account" asp-action="Logout">Logout</a>
            </p>
        }
        else
        {
             <p >
                <a class="text-white" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a><br> 
                @* <a class="text-white" asp-area="Identity" asp-controller="Account" asp-action="Register">Register</a> *@
            </p>
        }
    </div>

 </div> 
         @* <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                               @await Component.InvokeAsync("ShoppingCart")
                            </a>
                        </li> *@
