﻿@using Microsoft.AspNetCore.Identity
@using Models.Identity
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager

    
     @if(_signInManager.IsSignedIn(User))
    {
        <li  style="color:#f36944">
             @_userManager.GetUserName(User)
        </li>
        <li>
            <a class="text-white" asp-area="Identity" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li>
         <a class="text-white" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a><br> 
        </li>
       
    }
    

@* <div class="thumb">
    <div class="content">
         @if(_signInManager.IsSignedIn(User))
        { 
            <p class="text-white">
                Hello <strong>@_userManager.GetUserName(User)</strong> <br> <a class="text-white" asp-area="Identity" asp-controller="Account" asp-action="Logout">Logout</a>
            </p>
        }
        else
        {
             <p >
                <a class="text-white" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a><br> 
            </p>
        }
    </div>
 </div>  *@
