@model Web.ViewModel.ShopVM


<section class="page-banner ">
<div class="row d-flex">
    <div class="col-lg-3">
        
        @await Component.InvokeAsync("Category")
    </div>
    <div class="col-lg-9">
        <div id=tableContainer>
                @await Component.InvokeAsync("Shop", Model)
        </div>
    </div>
</section>


<script>
</script>